/* General Styling */
body {
  font-family: Arial;
  background-color: lightblue;
  text-align: center;
}

/* Navigation Bar */
nav {
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Pomodoro Timer Styling */
.pomodoro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#apple {
  margin-bottom: 20px;
}

/* Timer */
#timer {
  font-size: 48px;
  font-family: "Orbitron";
  color: white;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  margin-top: -300px;
  margin-bottom: 5px;
  margin-right: -20px;
}

#timer:hover {
  color: yellow;
}

/* Buttons */
button {
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 30px;
  margin-right: -20px;
  transition: 0.3s;
}

#start {
  background-color: green;
}
#pause {
  background-color: yellow;
  color: black;
}
#stop {
  background-color: red;
}

button:hover {
  border: 2px solid black;
}

/* When Timer is Less Than 1 Minute */
.low-time {
  color: red !important;
  background-color: black !important;
}
